prefetcher/l1i_prefetcher.cc
prefetcher/l1d_prefetcher.cc
prefetcher/l2c_prefetcher.cc
prefetcher/llc_prefetcher.cc
branch/branch_predictor.cc
replacement/llc_replacement.cc
results/

inc/champsim.h.bak

bin/
obj/
.ipynb_checkpoints
.vscode
__pycache__

stats.csv
stats_trace.csv
stats*.csv
